Activation/__pycache__/__init__.cpython-37.pyc
Activation/__pycache__/Sigmoid.cpython-37.pyc
Network/__pycache__/__init__.cpython-37.pyc
build/
dist/
neuralnetwork.egg-info/
Train/__pycache__/__init__.cpython-37.pyc
